<!DOCTYPE html>
<html>
    <head>
        <title>Reset</title>
        <link rel="stylesheet" type="text/css"  href="../css/bootstrap.css">
        <link rel="stylesheet" type="text/css"  href="../css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="card card-container">
                <p style="padding: 20px;" id="profile-name" class="profile-name-card">Reset Password</p>
                <form class="form-signin" method="post" action="/reset">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required autofocus>
                    <div id="remember" class="checkbox">
                        <label>
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Reset</button>
                </form>
            </div>
        </div>
    </body>
</html>