<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" type="text/css"  href="../css/bootstrap.css">
        <link rel="stylesheet" type="text/css"  href="../css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="card card-container">
                <p style="padding: 20px;">Welcome</p>
                <p style="text-align: center;">Hello.. You are login successfully</p>
            </div>
        </div>
    </body>
</html>